* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; 
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/*.app {
  min-height: 100%;
  display: flex;
  background-color: green;
}*/
/*
#root {
  display: flex;
  background-color: green;
}*/
/*
.root {
  background-color: blueviolet;
  height: 100%;
}*/

