.small {
  background-color: grey;
  width: 80px;
  height: 20px;
}

.medium {
  background-color: lightGrey;
  width: 120px;
  height: 25px;
}

input.big {
  background-color: pink;
  width: 150px;
  height: 30px;
  margin-left: auto;
}

.button {
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.pressed {
  background-color: pink;
}
